<h1>Listing samples</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Date</th>
    <th>Widget</th>
    <th>Status</th>
    <th>Details</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @samples.each do |sample| %>
  <tr>
    <td><%= sample.value %></td>
    <td><%= sample.date %></td>
    <td><%= sample.widget_id %></td>
    <td><%= sample.status %></td>
    <td><%= sample.details %></td>
    <td><%= link_to 'Show', sample %></td>
    <td><%= link_to 'Edit', edit_sample_path(sample) %></td>
    <td><%= link_to 'Destroy', sample, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sample', new_sample_path %>
