<h2>Listing recorded samples</h2>

<% for probe in @probes %>
<h3><%= probe.title %></h3>
<% for widget in probe.widgets %>
<h4><%= widget.title %></h4>
<h5><%= widget.selected_samples(@number_of_days).average(:value).round(3) %><%= widget.unit %></h5>
<span class="discreet"><%= widget.selected_samples(@number_of_days).size %></span>
<span>[ graph ]</span>
<br />
<br />
<% end %>
<% end %>

<%= link_to 'New Sample', new_sample_path %>
