<p id="notice"><%= notice %></p>

<p>
  <b>Json url:</b>
  <%= @data_source.json_url %>
</p>

<p>
  <b>Widget:</b>
  <%= @data_source.widget %>
</p>


<%= link_to 'Edit', edit_data_source_path(@data_source) %> |
<%= link_to 'Back', data_sources_path %>
