<h2>Listing templates</h2>

<table>
  <tr>
    <th>Uid</th>
    <th>Widget</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @templates.each do |template| %>
  <tr>
    <td><%= template.uid %></td>
    <td><% for widget in template.widgets %><%= widget.title %><% end %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) %></td>
    <td><%= link_to 'Destroy', template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Template', new_template_path %> | 

<%= link_to 'Widgets', widgets_path %>