<html>
<head>
<%= render :partial => "report_mailer/css" %>
</head>
<body>
<h2>TheEye notifications</h2>
<h3>Service <span class="<%= @status %>"><%= @status %></span> on <%= @notification.widget.probe.title %> (<%= @notification.widget.title %>)</h3>
</body>
</html>