<%= nested_form_for(@widget) do |f| %>

  <% if @widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@widget.errors.count, "error") %> prohibited this widget from being saved:</h2>
      <ul>
      <% @widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
	<!--
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
	-->
	<div class="field subform">
	<%= f.fields_for :data_source do |f_data_source| %>
	<p>
	    <%= render :partial => "data_sources/form", :locals => { :f => f_data_source } %>
	</p>
	<% end %>
</div>

	<div class="field subform">
	<%= f.fields_for :thresholds do |f_threshold| %>
	<p>
	    <%= render :partial => "thresholds/form", :locals => { :f => f_threshold } %>
	</p>
	<% end %>
	<%= f.link_to_add "Add a threshold", :thresholds %></p>
</div>
	
  <div class="field">
    <%= f.label :template %><br />
    <%= f.select :template_id, ::Template.all.collect {|t| [ t.uid, t.id]} %>
  </div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
