<h2>Dashboard</h2>

<ul id="widgets">				

</ul>

<br />

<table>
  <tr>
    <th>Widget</th>
    <th>url</th>
    <th>probe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for widget in ::Widget.all %>
  <tr>
    <td><%= widget.title %></td>
    <td><%= widget.url %></td>
    <td><%= widget.probe.title if widget.probe %></td>
    <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
    <td><%= link_to 'Destroy', widget, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Widget', new_widget_path %> | <%= link_to 'Probes', probes_path %>
