<h2>Dashboard</h2>

<ul id="widgets">				

</ul>

<hr />

<table>
  <tr>
    <th>Template ID</th>
    <th>Widget</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for template in ::Template.all %>
  <tr>
    <td><%= template.uid %></td>
    <td><%= template.widgets.size %></td>
    <td><%= link_to 'Show', template %></td>
    <td><%= link_to 'Edit', edit_template_path(template) %></td>
    <td><%= link_to 'Destroy', template, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Widget', new_widget_path %> | 

<%= link_to 'Templates', templates_path %>