<h2>Dashboard</h2>

<table>
  <tr>
    <th>Widget</th>
    <th>url</th>
    <th>thresholds</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for probe in ::Probe.all %>
<tr><th colspan="4"><%= probe.title %></th></tr>
<% for widget in probe.widgets.sorted %>
  <tr>
    <td><%= widget.title %></td>
    <td><%= widget.uri %></td>
    <td><%= widget.thresholds.size %></td>
    <td><%= link_to 'Edit', edit_widget_path(widget) %></td>
    <td><%= link_to 'Destroy', widget, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<% end %>

</table>
<br />


<%= link_to 'New Widget', new_widget_path %> | <%= link_to 'Probes', probes_path %>
