<h2><%= @widget.title %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @widget.url %>
</p>

<p>
  <b>Data source</b>
	<% if @widget.data_source %>
		<%="#{@widget.data_source.json_url}" %><br />
	<% else %>
	No datasources for this widget.
	<% end %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
