<h2><%= @widget.title %></h2>
<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @widget.url %>
</p>

<p>
  <b>Data sources</b>
	<% if @widget.data_sources %>
		<% for data_source in @widget.data_sources %>
			<%="#{data_source.json_url}" %><br />
		<% end %>
	<% else %>
	No datasources for this widget.
	<% end %>
</p>


<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
