  <div class="field">
    <%= f.label :operator %><br />
    <%= f.text_field :operator %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :alert %><br />
    <%= f.text_field :alert %>
  </div>
  <%= f.hidden_field :widget_id %>


