<h2>Dashboard</h2>

<% @probes.each do |probe| %>
<table>
  <tr>
    <td><%= probe.title %></td>
    <td><%= probe.url %></td>
    <td><%= probe.position %></td>
    <td><%= link_to 'Show', probe %></td>
    <td><%= link_to 'Edit', edit_probe_path(probe) %></td>
    <td><%= link_to 'Destroy', probe, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
</table>
<ul id="widgets">				

</ul>
<% end %>

<br />

<%= link_to 'New Probe', new_probe_path %> | <%= link_to 'Widgets', widgets_path %>
