<h2>Dashboard</h2>

<ul class="probes">				

</ul>

<script>

$probes = {
	<% for probe in @probes %>
	'probe-<%= probe.id %>' :
	{
		'id'				: '<%= probe.id %>',
		'title'			: '<%= probe.title %>',
		'url'				: '<%= probe.url %>',		
	},
	<% end %>
}	
</script>

<script>

$widgets = {
	
	<% for widget in ::Widget.sorted %>
	'widget-<%= widget.id %>'	: 
	{
		'id'						: '<%= widget.id %>',
		'title' 				: '<%= widget.title %>',
		<% if widget.uri %>
		'uri'						: '<%= widget.uri %>',
		<% end %>
		'template' 			: '<%= widget.template %>',
		<% if widget.probe %>
		'probe_id' 			: '<%= widget.probe_id %>',
		<% end %>
		<% if widget.thresholds.size > 0 %>
		'thresholds'		: [
		<% for threshold in widget.thresholds %>
			{ 'operator':'<%= threshold.operator %>', 'value': <%= threshold.value %>, 'alert':'<%= threshold.alert %>' },
		<% end %>
		],
		<% end %>
		'data'					:
		{
			'value' 			: 0,
			'date'				: 0,
			'details'			: '',
		},
		'min'						: <%= widget.min %>,
		'max'						: <%= widget.max %>,
		'unit'					: '<%= widget.unit %>',
		'graph_data'		: [],
		'details_data'	: [],
		'refresh_delay'	: <%= widget.refresh_delay %>,
	},
	<% end %>
}

</script>

<%= link_to 'New Probe', new_probe_path, :class => 'button small' %><%= link_to 'Setup Widgets', widgets_path, :class => 'button small' %>
