<h2>Live | <a href="/samples">Reports</a></h2>

<ul class="probes" data-days="<%= @number_of_days %>">				

</ul>

<%= render :partial => 'probes/probes_to_js', :locals => {:probes => @probes} %>
<%= render :partial => 'widgets/widgets_to_js', :locals => {:widgets => ::Widget.sorted} %>

<a href="<%= new_probe_path %>" class='button medium'><b> + New Probe</b></a>
<a href="<%= widgets_path %>" class='button medium'><b> Setup widgets</b></a>
