<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="size-medium">

  <div id="mv-topbar">
		
    <ul style="display:inline;">
      <h1 id="mv-logo"><a href="/widgets"><span class="discreet">the</span>Eye</a></h1>
    </ul>
		
		<span id="clock">
			<ul id="time-controls">
				<li class="play"><a href="#non">resume</a></li>
				<li class="pause"><a href="#non">pause</a></li>
			</ul>
			<span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span><!--:<span class="milliseconds">120--></span>
		</span>
  </div>
	
  <hr style="clear:both; border:none;" />
	
	<div id="page">
		<%= yield %>
	</div>

	<ul id="colors" style="display:none;">
		<li class="service-status-disabled"><h3>disabled</h3></li>
		<li class="service-status-ok"><h3>ok</h3></li>
		<li class="service-status-alert"><h3>alert</h3></li>
		<li class="service-status-warning"><h3>warning</h3></li>
		<li class="service-status-failed"><h3>failed</h3></li>
		<li class="very-light-color"><h3>verylight</h3></li>
	</ul>
	<script>
	
	$widgets = {
		
		<% for widget in ::Widget.sorted %>
		'widget-<%= widget.id %>'	: 
		{
			'title' 				: '<%= widget.title %>',
			'url'						: '',
			'template' 			: '<%= widget.template %>',
			<% if widget.data_source %>
			'data_source'		: '<%= widget.data_source.json_url %>',
			<% end %>
			<% if widget.thresholds.size > 0 %>
			'thresholds'		: [
			<% for threshold in widget.thresholds %>
				{ 'operator':'<%= threshold.operator %>', 'value': <%= threshold.value %>, 'alert':'<%= threshold.alert %>' },
			<% end %>
			],
			<% end %>
			'data'					:
			{
				'value' 			: 0,
				'date'				: 0,
				'details'			: '',
			},
			'min'						: <%= widget.min %>,
			'max'						: <%= widget.max %>,
			'unit'					: '<%= widget.unit %>',
			'graph_data'		: [],
			'details_data'	: [],
			'refresh_delay'	: <%= widget.refresh_delay %>,
		},
		<% end %>
	}
	
	
	function refresh_widget_js_bind() {
		
		$(".widget").unbind();
		
		$('.widget').on('click', function(event,value) {

			$card = $(this).find('.card');
			if ($($card).hasClass('flipped'))
				$($card).removeClass('flipped');
			else
				$($card).addClass('flipped');
				
			return false;
		});
	}
	
	$(document).ready(function() {
				
		resize_page();
		//refresh_widget_js_bind();
	});
	
	function resize_page() {
		
		$width = $(window).width();
		$new_width = Math.floor($width / 190) * 190;
		$('#page').css('width',$new_width);		
		$('body').css('height',$(window).height());
	}
	
	$(window).resize(function() {
		
		resize_page();
		
	});
	
	</script>

	
	<!-- Templates -->

	<%= render :partial => 'templates/base_templates' %>
	
</body>
</html>
