<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="size-medium">

  <div id="mv-topbar">
    <ul style="display:inline;">
      <h1 id="mv-logo"><span class="discreet">the</span>Eye</h1>
    </ul>
  </div>
  <hr style="clear:both; border:none;" />
	
	<div id="page">
		<%= yield %>
	</div>

	<script>
	
	$widgets = {
		<% for widget in ::Widget.all %>
		'widget-<%= widget.id %>'	: {
			'title' 		: '<%= widget.title %>',
			'url'				: 'http://google.com',
			'template' 	: '<%= widget.template.uid %>'
		},
		<% end %>
	}
	
	function refreshWidgets () {
		$.each($widgets, function(name, widget) {
		
			$template = $('#'+widget.template);
			$template_variables = {	
															'name'		: name,
															'widget'	: widget
														}
			$content = $($template).tmpl($template_variables);
			$('#widgets').append($content);
			
		});
	}
	
	function refresh_widget_js_bind() {
		$(".widget").unbind();
		
		$('.widget').on('click', function(event,value) {
			//$('.widget').removeClass('flipped');
			//$(this).find('.card').addClass('flipped').on('mouseleave', function(event,value) {
			//	$(this).removeClass('flipped');
			//});
			$card = $(this).find('.card');
			if ($($card).hasClass('flipped'))
				$($card).removeClass('flipped');
			else
				$($card).addClass('flipped');
				
			return false;
		});
	}
	
	$(document).ready(function() {
				
		resize_page();
		refreshWidgets();
		refresh_widget_js_bind();
		$("#widgets").sortable();
			
	});
	
	function resize_page() {
		
		$width = $(window).width();
		$new_width = Math.floor($width / 230) * 230;
		$('#page').css('width',$new_width);		
		$('#page').css('left', '5px');		
		
	}
	
	$(window).resize(function() {
		
		resize_page();
		
	});
	
	</script>
	
	<!-- code highlight 
	http://softwaremaniacs.org/soft/highlight/en/
	-->
	
	<script>
		hljs.initHighlightingOnLoad();
		$('pre code').each(function(i, e){
			hljs.highlightBlock(e)
		});	
	</script>
	
	<!-- Templates -->
	
	<% for template in ::Template.all %>
		<%= render :partial => template %>
	<% end %>
	
</body>
</html>
