<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="size-medium">

  <div id="mv-topbar">
    <ul style="display:inline;">
      <h1 id="mv-logo"><span class="discreet">the</span>Eye</h1>
    </ul>
  </div>
  <hr style="clear:both; border:none;" />
	
	<div id="page">
		<%= yield %>
		<ul id="widgets">				
		
		</ul>
	</div>

	<script>
	
	function resize_page() {
		
		$width = $(window).width();
		$new_width = Math.floor($width / 230) * 230;
		$('#page').css('width',$new_width);		
		$('#page').css('left', '5px');		
		
	}
	
	function refreshWidgets () {
		$content = $('#test_graph_template').tmpl({'name':'name', 'service':'service'});
		$('#widgets').append($content);
	}
	
	$(document).ready(function() {
				
		resize_page();
		refreshWidgets();
		$("#widgets").sortable();
			
	});
	
	$(window).resize(function() {
		
		resize_page();
		
	});
	
	</script>
	
	<!-- Templates -->
	
	<% for template in ::Template.all %>
		<%= render :partial => template %>
	<% end %>
	
</body>
</html>
