<!DOCTYPE html>
<html>

<head>
  <title>Dashboard</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="size-medium <%= params[:controller] %>">

  <div id="mv-topbar">
		
    <ul style="display:inline;">
      <h1 id="mv-logo"><a href="/"><span class="discreet">the</span>Eye</a></h1>
    </ul>
		
		<span id="clock">
			<ul id="time-controls">
				<li class="play"><a href="#non" class="glyphicon glyphicon-play"></a></li>
				<li class="pause"><a href="#non" class="glyphicon glyphicon-pause"></a></li>
			</ul>
			<span class="hours">00</span>:<span class="minutes">00</span>:<span class="seconds">00</span><!--:<span class="milliseconds">120--></span>
		</span>
  </div>
	
  <hr style="clear:both; border:none;" />
	
	<div id="page">
		<%= yield %>
	</div>

	<ul id="colors" style="display:none;">
		<li class="service-status-disabled"><h3>disabled</h3></li>
		<li class="service-status-ok"><h3>ok</h3></li>
		<li class="service-status-alert"><h3>alert</h3></li>
		<li class="service-status-warning"><h3>warning</h3></li>
		<li class="service-status-failed"><h3>failed</h3></li>
		<li class="very-light-color"><h3>verylight</h3></li>
	</ul>
	<script>
	
	function refresh_widget_js_bind() {
		
		$(".widget").unbind();
		
		$('.widget').on('click', function(event,value) {

			$card = $(this).find('.card');
			if ($($card).hasClass('flipped'))
				$($card).removeClass('flipped');
			else
				$($card).addClass('flipped');
				
			return false;
		});
	}
	
	$(document).ready(function() {
				
		resize_page();
		pop_menubar();
	});
	
	function pop_menubar() {
		
		$(document).scroll(function() {
		  if ($(document).scrollTop() >= 40) {
		    $("#mv-topbar").addClass('pop');
		  } else {
		    $("#mv-topbar").removeClass('pop');
		  }
		});
	}
	function resize_page() {
		
		$width = $(window).width();
		$new_width = Math.floor($width / 190) * 190 + 20;
		if ($new_width > 5 * 190 + 20) {
			$new_width = 5 * 190 + 20;
		}
		$('#page').css('width',$new_width);		
		$('body').css('height',$(window).height());
	}
	
	$(window).resize(function() {
		
		resize_page();
		
	});
	
	</script>

	
	<!-- Templates -->

	<%= render :partial => 'widgets/widget_template' %>
	<%= render :partial => 'probes/probe_template' %>
	<%= render :partial => 'probes/add_widget_template' %>
	
</body>
</html>
